form{ /*Mettre la bordure arrondie au form*/
    border: solid black 1px;
    border-radius: 10px;
    padding: 20px;
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
}

h2{ /*Mise en forme des h2, titres des sections de formulaire*/
    margin-bottom: 0;
}

h1, h2{
    font-weight: normal;
}

label{ /*Mettre les labels en ligne avec les inputs*/
    display: inline-block;
}

input:not([type="radio"]), select, label{ /*Mettre de la marge dans le form, entre les éléments*/
    margin: 0.5em;
}
#TypePaiement { /*Mettre les boutons radio collé*/
    margin-left: 0;
    margin-right: 1em;

}

form *:not(h1, em){/*Mettre une marge à gauche de la majorité des éléments du formulaire*/
    margin-left: 1em;
}

.Enligne{
    display: inline-block;
}

.textAlign{ /*Aligner du texte et les bouttons au centre*/
    text-align: center;
}

