form{ /*Mettre la bordure arrondie au form*/
    border: solid black 1px;
    border-radius: 10px;
    padding: 20px;
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
}

label{ /*Mettre les labels en ligne avec les inputs*/
    display: inline-block;
}

form *:not(h1, em){/*Mettre une marge à gauche de la majorité des éléments du formulaire*/
    margin-left: 1em;
}

h2{ /*Mise en forme du h2, enlever le gras et enlever la marge en bas*/
    font-weight: normal;
    margin-bottom: 0;
}

/*En cas d'erreur */
.erreur{ /*Mise en forme des messages d'erreurs*/
    display: none;
    border: dashed black 3px;
    color: black;
    background-color: #f50c0c;
    padding:2px;
    width: 25%;
    margin-top: 0.1em;

}

/*Afficher les messages d'erreur s'il y a nécessité*/
:invalid + .erreur{ /*Classe erreur à côté d'un élément invalide*/
    display: block;
}



input, select, button{ /*Aggrandir la hauteur des champs*/
    height: 2em;
}

div{/*Séparer les différents groupes champs label du formulaire*/
    margin-bottom: 0.5em;
}

.bouttons{ /*Mise en place des bouttons pour envoyer et annuler*/
    text-align: center;
    margin-top: 2em;
}